@media screen and (max-width: 319px){
    header, .navbar {
        height: 50px;
        padding: 0 1rem!important;
    }
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 13px;
    }
    .navbar-toggler {
        font-size: 1rem;
        margin-top: 5px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
        margin-left: -16px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 200vh;
        
    }
    #mobile-home .title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 40px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 12px;
    }
    #mobile-home .btn-km {
        padding: 5px 10px;
        font-size: 10px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 36px;
    }
    #about-us .about-title::after {
        width: 35%;
        top: 40px;
        left: 33.5%;
    }
    #about-us .about-subtitle {
        font-size: 25px;
    }
    #about-us .about-text p {
        font-size: 10px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 10px;
        line-height: 20px;
    }
    #about-us button {
        padding: 5px 10px;
        font-size: 10px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 24px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 200px;
        padding: 5px;
        margin: 5px 0;
        height: 220px;
    }
    #services .card i {
        font-size: 20px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 15px;
    }
    #services .card p {
        font-size: 9px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 5px 10px;
        font-size: 7px;
    }
    #portfolio h2 {
        font-size: 25px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 25px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 10px;
        line-height: 10px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 5px 10px;
        font-size: 10px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 10px;
        margin: 10px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 7px;
        margin-bottom: 20px;
        width: 47px;
    }
    .footer-col h4::after {
        top: 13px;
    }
    .footer .footer-col ul li a {
        font-size: 8px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 20px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 45px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 13px;
    }
    #mobile-home .btn-km {
        padding: 7px 12px;
        font-size: 12px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 53px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 50px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 33px;
    }
    #about-us .about-text p {
        font-size: 13px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 13px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 35px;
    }
    #services .about-title::after {
        top: 33px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 280px;
        padding: 5px;
        margin: 5px 0;
        height: 280px;
    }
    #services .card i {
        font-size: 30px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 25px;
    }
    #services .card p {
        font-size: 15px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 10px;
    }
    #portfolio h2 {
        margin-top: 5px;
        font-size: 35px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 34px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 15px;
        line-height: 20px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 10px 20px;
        font-size: 12px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 10px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 8px;
        margin-bottom: 20px;
        width: 75px;
    }
    .footer-col h4::after {
        top: 8px;
    }
    .footer .footer-col ul li a {
        font-size: 10px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 10px;
    }
}

@media screen and (min-width: 360px) and (max-width: 374px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 20px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 50px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 15px;
    }
    #mobile-home .btn-km {
        padding: 10px 15px;
        font-size: 13px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 61px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 53px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 38px;
    }
    #about-us .about-text p {
        font-size: 15px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 15px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 40px;
    }
    #services .about-title::after {
        top: 35px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 320px;
        padding: 5px;
        margin: 5px 0;
        height: 320px;
    }
    #services .card i {
        font-size: 40px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 35px;
    }
    #services .card p {
        font-size: 22px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 11px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 45px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 38px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 15px;
        line-height: 20px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 10px 20px;
        font-size: 12px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 12px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 8px;
        margin-bottom: 20px;
        width: 75px;
    }
    .footer-col h4::after {
        top: 8px;
    }
    .footer .footer-col ul li a {
        font-size: 10px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width: 383px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 25px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 60px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 17px;
    }
    #mobile-home .btn-km {
        padding: 10px 15px;
        font-size: 13px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 64px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 55px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 40px;
    }
    #about-us .about-text p {
        font-size: 17px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 15px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 42px;
    }
    #services .about-title::after {
        top: 37px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 330px;
        padding: 5px;
        margin: 5px 0;
        height: 330px;
    }
    #services .card i {
        font-size: 42px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 37px;
    }
    #services .card p {
        font-size: 22px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 11px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 45px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 40px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 17px;
        line-height: 20px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 10px 20px;
        font-size: 12px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 13px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 8px;
        margin-bottom: 20px;
        width: 75px;
    }
    .footer-col h4::after {
        top: 8px;
    }
    .footer .footer-col ul li a {
        font-size: 10px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 10px;
    }
}

@media screen and (min-width: 384px) and (max-width: 392px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 55px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 14px;
        width: 330px;
    }
    #mobile-home .btn-km {
        padding: 10px 15px;
        font-size: 13px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 66px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 57px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 42px;
    }
    #about-us .about-text p {
        font-size: 18px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 16px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 44px;
    }
    #services .about-title::after {
        top: 39px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 330px;
        padding: 5px;
        margin: 5px 0;
        height: 350px;
    }
    #services .card i {
        font-size: 42px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 37px;
    }
    #services .card p {
        font-size: 24px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 11px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 45px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 41px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 17px;
        line-height: 20px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 10px 20px;
        font-size: 12px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 13px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 9px;
        margin-bottom: 20px;
        width: 70px;
    }
    .footer-col h4::after {
        top: 15px;
    }
    .footer .footer-col ul li a {
        font-size: 12px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 12px;
    }
}

@media screen and (min-width: 393px) and (max-width: 413px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 55px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 17px;
        width: 350px;
    }
    #mobile-home .btn-km {
        padding: 10px 15px;
        font-size: 13px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 68px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 58px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 42px;
    }
    #about-us .about-text p {
        font-size: 19px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 17px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 45px;
    }
    #services .about-title::after {
        top: 40px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 360px;
        padding: 5px;
        margin: 5px 0;
        height: 350px;
    }
    #services .card i {
        font-size: 40px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 35px;
    }
    #services .card p {
        font-size: 26px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 11px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 40px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 42px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 18px;
        line-height: 20px;
    }
    section#portfolio .btn-km {
        padding: 15px 25px;
        font-size: 15px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 14px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 9px;
        margin-bottom: 20px;
        width: 90px;
    }
    .footer-col h4::after {
        top: 10px;
    }
    .footer .footer-col ul li a {
        font-size: 12px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 13px;
    }
}
@media screen and (min-width: 414px) and (max-width: 599px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 55px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 19px;
        width: 360px;
    }
    #mobile-home .btn-km {
        padding: 15px 20px;
        font-size: 15px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 70px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 60px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 45px;
    }
    #about-us .about-text p {
        font-size: 20px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 18px;
        line-height: 20px;
    }
    #about-us button {
        padding: 10px 15px;
        font-size: 15px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 45px;
    }
    #services .about-title::after {
        top: 40px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 380px;
        padding: 5px;
        margin: 5px 0;
        height: 350px;
    }
    #services .card i {
        font-size: 40px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 35px;
    }
    #services .card p {
        font-size: 28px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 15px 25px;
        font-size: 14px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 40px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 44px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 19px;
        line-height: 22px;
    }
    section#portfolio .btn-km {
        padding: 10px 30px;
        font-size: 20px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 14px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 10px;
        margin-bottom: 20px;
        width: 98px;
    }
    .footer-col h4::after {
        top: 8px;
    }
    .footer .footer-col ul li a {
        font-size: 15px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 15px;
    }
}