* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif, Arial, Helvetica;
    box-sizing: border-box;
    list-style-type: none;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

header,.navbar {
    background-color: rgb(25, 25, 25);
}

header {
    height: 70px;
}

.navbar-brand {
    padding: 0;
    color: rgb(255, 255, 255);
}

.navbar-toggler-icon i {
    color: white;
}

.logo {
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 8px;
}

.text-span {
    color: rgb(255, 235, 205);
}

.btn {
    background-color: #1bd741;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: transform .4s;
    margin-top: 8px;
}

.btn:hover {
    transform: scale(1.2);
}

.btn i {
    margin-right: 5px;
}

.text-style {
    color: rgb(255, 255, 255);
}

.text-style:hover {
    color: rgb(221, 221, 221);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption  {
    padding-top: 0;
    top: 25%;
    left: -600px;
}

#mainSlider .slide-content .carousel-caption h2 {
   margin-right: 170px;
}

.slide-content .text-div {
    width: 500px;
    margin-left: 800px;
}
#mainSlider .carousel-caption p{
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 2rem;
}

#mainSlider div.slide-content-2 .carousel-caption{
    left: -600px;
}
#mainSlider .slide-content-2 .carousel-caption h2 {
    margin-left: 10px;
}

.slide-content-2 .text-div {
    width: 500px;
    margin-left: 900px;
}


#mainSlider .carousel-caption h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}

#mainSlider .carousel-caption h2 .text-span {
    color: #ffebcd;
}

.btn-km {
    background-color: rgb(255, 235, 205);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    width: 380px;
    max-width: 100%;
    position: relative;
    margin-top: 20px;
    color: #000000;
}

#mainSlider .carousel-caption .btn-km:hover {
    background-color: rgb(159, 147, 128);
    transform: scale(1.2);
}

#mainSlider .carousel-item .img-slider {
    height: 100vh;
}


.carousel-indicators .active {
    background-color: rgb(255, 235, 205);
}


#mobile-home {
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg-home-mobile.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.87;
    z-index: -1;
}

.title {
    color: white;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: bold;
}

.subtitle {
    color: #ffffff;
    margin: 20px 0px 20px;
    font-size:50px;
    font-weight: bold;
}

.description {
    color: #ffffff;
    margin-top: 16px;
    font-weight: bold;
    font-size: 24px;
}

#about-us {
    background: rgb(25, 25, 25);
}

#about-us .about-title, #services .about-title {
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 75px;
    margin-bottom: 15px;
}

#services .about-title::after, #about-us .about-title::after {
    content: "";
    border-top: 2px solid whitesmoke;
    width: 20%;
    position: absolute;
    top: 80px;
    left: 40.5%;
    margin-top: 5px;
}

#about-us button {
    background-color: rgb(255, 235, 205);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

#about-us button:hover {
    background-color: transparent;
    border: 2px solid rgb(139, 130, 115);
    cursor: pointer;
    color: white;
}

.about-subtitle {
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: white;
}

.about-text p {
    color: white;
}

#about-list li {
    color: white;
    line-height: 30px;
}

#about-list li i {
   margin-right: 5px;
   color: rgb(255, 235, 205);
}

#services {
    background: rgb(16, 16, 16);
}

.card {
    height: 380px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(25, 25, 25);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card h4 {
    font-size: 30px;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(255, 235, 205);
}

.card p {
    color: rgba(255, 204, 255, 0.8);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: rgb(255, 235, 205);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    color: black;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid rgb(188, 170, 144);
    cursor: pointer;
}

#portfolio {
    width: 100%;
    min-height: 100vh;
    background: #262626;
}

#portfolio div.container {
    padding-bottom: 0!important;
}

#portfolio h2{
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    justify-content: center;
    color: white;
    margin-bottom: 15px;
}

.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.portfolio div.galeria{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
}

.portfolio div.galeria div.single-galeria{
    position: relative;
    width: 20%;
    height: 100%;
    margin: 0 5px;
    transition: width 1s;
}

.portfolio div.galeria div.single-galeria:first-child{
    width: 35% !important;
}

.portfolio div.galeria:hover div.single-galeria:first-child{
    width: 20% !important;
}

.portfolio div.galeria div.single-galeria:hover{
    width: 35% !important;
}

.portfolio div.galeria div.single-galeria:first-child:hover{
    width: 35% !important;
}


.portfolio div.galeria div.single-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio div.galeria div.single-galeria div.info{
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 65%, transparent);
    padding: 16% 8%;
    bottom: 0;
}

.portfolio div.galeria div.single-galeria div.info h3{
    font-size: 26px;
    color: white;
}

.portfolio div.galeria div.single-galeria div.info p{
    font-size: 14px;
    line-height: 28px;
    color: white;
    text-transform: capitalize;
}

.portfolio div.galeria div.single-galeria div.info a{
    font-size: 14px;
    line-height: 28px;
    color: gold;
    text-decoration: none;
}

.portfolio div.galeria div.single-galeria div.info a:hover{
    text-decoration: underline;
}

section#portfolio div.container-btn {
    padding-top: 10px;
    padding-bottom: 50px!important;
}
section#portfolio div.container-btn .col-12 {
    justify-content: center;
    text-align: center;
    width: 500px;
}

section#portfolio .btn-km {
    font-size: 25px;  
}

section#portfolio .btn-km:hover {
    background: transparent;
    border: 1px solid #ffebcd;
    color: white;
    text-decoration: none;
}

#cm-contact {
    background: rgb(16, 16, 16);
    align-items: center;
    justify-content: center;
}

.contact-me {
    height: 200px; 
    background: rgb(25, 25, 25);
}

.contact-me p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.contact-me .button-two {
    background-color: rgb(255, 235, 205);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 22px;
    border-radius: 30px;
    transition: .4s;
    color: black;
    margin-bottom: auto;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid rgb(170, 156, 137);
    cursor: pointer;
}


.footer {
    background-color: rgb(36, 38, 43);
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    color: white;
}

.footer-col h4::after {
    content: "";
    border-top: 2px solid #0378A6;
    width: 25%;
    position: absolute;
    top: 20px;
    left: 1%;
    margin-top: 5px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: rgb(187, 187, 187);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: rgb(255, 255, 255);
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    color: white;
}

.footer-col .social-links a:hover {
    color: rgb(36, 38, 43);
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 319px){
    header, .navbar {
        height: 50px;
        padding: 0 1rem!important;
    }
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 13px;
    }
    .navbar-toggler {
        font-size: 1rem;
        margin-top: 5px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
        margin-left: -16px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 200vh;
        
    }
    #mobile-home .title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 40px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 12px;
    }
    #mobile-home .btn-km {
        padding: 5px 10px;
        font-size: 10px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 36px;
    }
    #about-us .about-title::after {
        width: 35%;
        top: 40px;
        left: 33.5%;
    }
    #about-us .about-subtitle {
        font-size: 25px;
    }
    #about-us .about-text p {
        font-size: 10px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 10px;
        line-height: 20px;
    }
    #about-us button {
        padding: 5px 10px;
        font-size: 10px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 24px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 200px;
        padding: 5px;
        margin: 5px 0;
        height: 220px;
    }
    #services .card i {
        font-size: 20px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 15px;
    }
    #services .card p {
        font-size: 9px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 5px 10px;
        font-size: 7px;
    }
    #portfolio h2 {
        font-size: 25px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 25px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 10px;
        line-height: 10px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 5px 10px;
        font-size: 10px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 10px;
        margin: 10px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 7px;
        margin-bottom: 20px;
        width: 47px;
    }
    .footer-col h4::after {
        top: 13px;
    }
    .footer .footer-col ul li a {
        font-size: 8px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 20px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 45px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 13px;
    }
    #mobile-home .btn-km {
        padding: 7px 12px;
        font-size: 12px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 53px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 50px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 33px;
    }
    #about-us .about-text p {
        font-size: 13px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 13px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 35px;
    }
    #services .about-title::after {
        top: 33px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 280px;
        padding: 5px;
        margin: 5px 0;
        height: 280px;
    }
    #services .card i {
        font-size: 30px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 25px;
    }
    #services .card p {
        font-size: 15px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 10px;
    }
    #portfolio h2 {
        margin-top: 5px;
        font-size: 35px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 34px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 15px;
        line-height: 20px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 10px 20px;
        font-size: 12px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 10px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 8px;
        margin-bottom: 20px;
        width: 75px;
    }
    .footer-col h4::after {
        top: 8px;
    }
    .footer .footer-col ul li a {
        font-size: 10px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 10px;
    }
}

@media screen and (min-width: 360px) and (max-width: 374px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 20px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 50px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 15px;
    }
    #mobile-home .btn-km {
        padding: 10px 15px;
        font-size: 13px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 61px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 53px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 38px;
    }
    #about-us .about-text p {
        font-size: 15px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 15px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 40px;
    }
    #services .about-title::after {
        top: 35px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 320px;
        padding: 5px;
        margin: 5px 0;
        height: 320px;
    }
    #services .card i {
        font-size: 40px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 35px;
    }
    #services .card p {
        font-size: 22px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 11px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 45px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 38px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 15px;
        line-height: 20px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 10px 20px;
        font-size: 12px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 12px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 8px;
        margin-bottom: 20px;
        width: 75px;
    }
    .footer-col h4::after {
        top: 8px;
    }
    .footer .footer-col ul li a {
        font-size: 10px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width: 383px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 25px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 60px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 17px;
    }
    #mobile-home .btn-km {
        padding: 10px 15px;
        font-size: 13px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 64px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 55px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 40px;
    }
    #about-us .about-text p {
        font-size: 17px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 15px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 42px;
    }
    #services .about-title::after {
        top: 37px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 330px;
        padding: 5px;
        margin: 5px 0;
        height: 330px;
    }
    #services .card i {
        font-size: 42px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 37px;
    }
    #services .card p {
        font-size: 22px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 11px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 45px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 40px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 17px;
        line-height: 20px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 10px 20px;
        font-size: 12px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 13px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 8px;
        margin-bottom: 20px;
        width: 75px;
    }
    .footer-col h4::after {
        top: 8px;
    }
    .footer .footer-col ul li a {
        font-size: 10px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 10px;
    }
}

@media screen and (min-width: 384px) and (max-width: 392px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 55px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 14px;
        width: 330px;
    }
    #mobile-home .btn-km {
        padding: 10px 15px;
        font-size: 13px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 66px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 57px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 42px;
    }
    #about-us .about-text p {
        font-size: 18px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 16px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 44px;
    }
    #services .about-title::after {
        top: 39px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 330px;
        padding: 5px;
        margin: 5px 0;
        height: 350px;
    }
    #services .card i {
        font-size: 42px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 37px;
    }
    #services .card p {
        font-size: 24px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 11px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 45px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 41px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 17px;
        line-height: 20px;
    }
    section#portfolio div.container-btn {
        padding-bottom: 25px!important;
    }
    section#portfolio .btn-km {
        padding: 10px 20px;
        font-size: 12px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 13px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 9px;
        margin-bottom: 20px;
        width: 70px;
    }
    .footer-col h4::after {
        top: 15px;
    }
    .footer .footer-col ul li a {
        font-size: 12px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 12px;
    }
}

@media screen and (min-width: 393px) and (max-width: 413px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 55px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 17px;
        width: 350px;
    }
    #mobile-home .btn-km {
        padding: 10px 15px;
        font-size: 13px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 68px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 58px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 42px;
    }
    #about-us .about-text p {
        font-size: 19px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 17px;
        line-height: 20px;
    }
    #about-us button {
        padding: 7px 12px;
        font-size: 12px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 45px;
    }
    #services .about-title::after {
        top: 40px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 360px;
        padding: 5px;
        margin: 5px 0;
        height: 350px;
    }
    #services .card i {
        font-size: 40px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 35px;
    }
    #services .card p {
        font-size: 26px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 11px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 40px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 42px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 18px;
        line-height: 20px;
    }
    section#portfolio .btn-km {
        padding: 15px 25px;
        font-size: 15px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 14px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 9px;
        margin-bottom: 20px;
        width: 90px;
    }
    .footer-col h4::after {
        top: 10px;
    }
    .footer .footer-col ul li a {
        font-size: 12px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 13px;
    }
}
@media screen and (min-width: 414px) and (max-width: 599px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-toggler {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 55px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 19px;
        width: 360px;
    }
    #mobile-home .btn-km {
        padding: 15px 20px;
        font-size: 15px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 70px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 60px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 45px;
    }
    #about-us .about-text p {
        font-size: 20px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 18px;
        line-height: 20px;
    }
    #about-us button {
        padding: 10px 15px;
        font-size: 15px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        font-size: 45px;
    }
    #services .about-title::after {
        top: 40px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 380px;
        padding: 5px;
        margin: 5px 0;
        height: 350px;
    }
    #services .card i {
        font-size: 40px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 35px;
    }
    #services .card p {
        font-size: 28px;
        line-height: 20px;
    }
    #services .card .button {
        padding: 15px 25px;
        font-size: 14px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 40px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 44px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 19px;
        line-height: 22px;
    }
    section#portfolio .btn-km {
        padding: 10px 30px;
        font-size: 20px;
    }
    #cm-contact, .contact-me  {
        height: 100px;
    }
    #cm-contact .contact-me p {
        font-size: 14px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 10px;
        margin-bottom: 20px;
        width: 98px;
    }
    .footer-col h4::after {
        top: 8px;
    }
    .footer .footer-col ul li a {
        font-size: 15px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 687px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 45px;
    }
    .navbar-toggler {
        font-size: 2rem;
        margin-top: 10px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 60px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 22px;
        width: 500px;
    }
    #mobile-home .btn-km {
        margin-top: 20px;
        padding: 15px 35px;
        font-size: 20px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        font-size: 75px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 70px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 55px;
    }
    #about-us .about-text p {
        font-size: 22px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 26px;
        line-height: 30px;
    }
    #about-us button {
        padding: 15px 30px;
        font-size: 20px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        margin-top: 5px;
        font-size: 55px;
    }
    #services .about-title::after {
        top: 60px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 530px;
        padding: 5px;
        margin: 5px 0;
        height: 500px;
    }
    #services .card i {
        font-size: 50px;
        margin-bottom: 15px;
    }
    #services .card .about-subtitle {
        font-size: 40px;
    }
    #services .card p {
        font-size: 35px;
        line-height: 35px;
    }
    #services .card .button {
        padding: 25px 35px;
        font-size: 20px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 50px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 60px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 25px;
        line-height: 25px;
    }
    section#portfolio .btn-km {
        padding: 20px 60px;
        font-size: 40px;
    }
    #cm-contact, .contact-me  {
        height: 200px;
    }
    #cm-contact .contact-me p {
        font-size: 25px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 10px 20px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 15px;
        margin-bottom: 20px;
        width: 150px;
    }
    .footer-col h4::after {
        top: 12px;
    }
    .footer .footer-col ul li a {
        font-size: 15px;
    }
    .footer .footer-col .social-links a {
        height: 35px;
        width: 35px;
        margin: 0px 0px 5px 0;
        font-size: 15px;
    }
}

@media screen and (min-width: 688px) and (max-width: 767px){
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 55px;
    }
    .navbar-toggler {
        font-size: 2.5rem;
        margin-top: 15px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #home-desktop {
        display: none;
    }
    #mobile-home {
        display: block;
        height: 100vh;
        
    }
    #mobile-home .title {
        font-size: 55px;
        margin-top: 55px;
        margin-bottom: 0;
    }
    #mobile-home .subtitle {
        font-size: 65px;
    }
    #mobile-home .description {
        margin-top: 0;
        text-align: justify;
        font-size: 24px;
        width: 600px;
    }
    #mobile-home .btn-km {
        margin-top: 40px;
        padding: 20px 40px;
        font-size: 24px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        margin-top: 20px;
        font-size: 80px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 100px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 60px;
    }
    #about-us .about-text p {
        font-size: 25px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 26px;
        line-height: 30px;
    }
    #about-us button {
        padding: 15px 30px;
        font-size: 20px;
        margin-bottom: 5px;
    }
    #services {
        min-height: 100vh;
    }
    #services .about-title {
        margin-top: 10px;
        font-size: 65px;
    }
    #services .about-title::after {
        top: 70px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 550px;
        padding: 5px;
        margin: 5px 0;
        height: 500px;
    }
    #services .card i {
        font-size: 50px;
        margin-bottom: 25px;
    }
    #services .card .about-subtitle {
        font-size: 45px;
    }
    #services .card p {
        font-size: 40px;
        line-height: 35px;
    }
    #services .card .button {
        padding: 25px 45px;
        font-size: 20px;
    }
    #portfolio h2 {
        margin-top: 10px;
        font-size: 50px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 60px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 25px;
        line-height: 25px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info a {
        font-size: 28px;
    }
    section#portfolio .btn-km {
        padding: 20px 60px;
        font-size: 40px;
    }
    #cm-contact, .contact-me  {
        height: 200px;
    }
    #cm-contact .contact-me p {
        font-size: 28px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 10px 20px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 20px;
        margin-bottom: 20px;
        width: 200px;
    }
    .footer-col h4::after {
        top: 15px;
    }
    .footer .footer-col ul li a {
        font-size: 20px;
    }
    .footer .footer-col .social-links a {
        height: 45px;
        width: 45px;
        margin: 0px 0px 5px 0;
        font-size: 20px;
    }
    .footer .footer-col .social-links i {
        margin-top: 10px;
    }
}
    
@media screen and (min-width: 768px) and (max-width: 1023px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 55px;
    }
    .navbar-toggler {
        font-size: 2.5rem;
        margin-top: 15px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #mainSlider .carousel-caption  {
        padding-top: 0;
        top: 18%;
        left: 80px;
    }
    #mainSlider .slide-content .carousel-caption h2 {
        margin-right: 145px;
    }
    .slide-content .text-div {
        width: 300px;
        margin-left: 0px;
        margin-right: 0!important;
    }
    #mainSlider .carousel-caption p{
        font-size: 14px;
    
    }
    #mainSlider .carousel-caption .btn-km {
        margin-right: 418px;
    }
    #mainSlider div.slide-content-2 .carousel-caption{
        left: 0px;
    }
    #mainSlider .slide-content-2 .carousel-caption h2 {
        margin-left: 0px;
        margin-right: 50px;
    }
    .slide-content-2 .text-div {
        width: 250px;
        margin-left: 80px;
        font-size: 10px;
    }
    #mainSlider .slide-content-2 .btn-km {
        margin-right: 360px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        margin-top: 20px;
        font-size: 100px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 110px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 40px;
    }
    #about-us .about-text p {
        font-size: 15px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 15px;
        line-height: 30px;
    }
    #about-us button {
        padding: 15px 30px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #services .about-title {
        margin-top: 20px;
        font-size: 70px;
    }
    #services .about-title::after {
        top: 85px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 220px;
        padding: 5px;
        height: 400px;
    }
    #services .card i {
        font-size: 25px;
        margin-bottom: 25px;
    }
    #services .card .about-subtitle {
        font-size: 23px;
    }
    #services .card p {
        font-size: 20px;
        line-height: 35px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 20px;
    }
    #portfolio h2 {
        margin-top: 20px;
        font-size: 60px;
    }
    #portfolio div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    #portfolio div.galeria div.single-galeria{
        min-width: 90% !important;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 60px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 25px;
        line-height: 25px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info a {
        font-size: 28px;
    }
    section#portfolio .btn-km {
        padding: 20px 60px;
        font-size: 40px;
    }
    #cm-contact, .contact-me  {
        height: 200px;
    }
    #cm-contact .contact-me p {
        font-size: 29px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 10px 20px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 20px;
        margin-bottom: 20px;
        width: 195px;
    }
    .footer-col h4::after {
        top: 20px;
    }
    .footer .footer-col ul li a {
        font-size: 20px;
    }
    .footer .footer-col .social-links a {
        height: 45px;
        width: 45px;
        margin: 0px 0px 5px 0;
        font-size: 20px;
    }
    .footer .footer-col .social-links i {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    div.container.nav-container {
        padding: 0px;
    }
    .logo {
        font-size: 55px;
    }
    .navbar-toggler {
        font-size: 2.5rem;
        margin-top: 15px;
    }
    .collapsing {
        background: #181818;
    }
    div.collapse.show {
        background: #181818;
        margin-top: 10px;
    }
    div.collapse.show .navbar-nav {
        width: 100vw;
        margin-left: 0;
    }
    #mainSlider .carousel-caption  {
        padding-top: 0;
        top: 18%;
        left: 90px;
    }
    #mainSlider .slide-content .carousel-caption h2 {
        width: 415px;
    }
    .slide-content .text-div {
        width: 412px;
        margin-left: 0px;
        margin-right: 0!important;
    }
    #mainSlider .carousel-caption p{
        font-size: 14px;
    
    }
    #mainSlider .carousel-caption .btn-km {
        margin-right: 626px;
    }
    #mainSlider div.slide-content-2 .carousel-caption{
        left: 0px;
    }
    #mainSlider .slide-content-2 .carousel-caption h2 {
        width: 565px;
    }
    .slide-content-2 .text-div {
        width: 330px;
        margin-left: 110px;
        font-size: 10px;
    }
    #mainSlider .slide-content-2 .btn-km {
        margin-right: 360px;
    }
    .container {
        padding: 10px;
    }
    #about-us .about-title {
        margin-top: 20px;
        font-size: 100px;
    }
    #about-us .about-title::after {
        width: 40%;
        top: 110px;
        left: 31.5%;
    }
    #about-us .about-subtitle {
        font-size: 40px;
    }
    #about-us .about-text p {
        font-size: 15px;
        text-align: justify;
    }
    #about-us #about-list li {
        font-size: 15px;
        line-height: 30px;
    }
    #about-us button {
        padding: 15px 30px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #services .about-title {
        margin-top: 20px;
        font-size: 70px;
    }
    #services .about-title::after {
        top: 85px;
    }
    #services div.col-md-4 {
        padding-left: 0;
    }
    #services .card {
        width: 300px;
        padding: 5px;
        height: 400px;
    }
    #services .card i {
        font-size: 27px;
        margin-bottom: 25px;
    }
    #services .card .about-subtitle {
        font-size: 25px;
    }
    #services .card p {
        font-size: 22px;
        line-height: 35px;
    }
    #services .card .button {
        padding: 10px 20px;
        font-size: 20px;
    }
    #portfolio h2 {
        margin-top: 20px;
        font-size: 60px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info h3 {
        font-size: 25px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info p {
        font-size: 12px;
        line-height: 25px;
    }
    #portfolio .portfolio div.galeria div.single-galeria div.info a {
        font-size: 20px;
    }
    section#portfolio .btn-km {
        padding: 10px 30px;
        font-size: 20px;
    }
    #cm-contact, .contact-me  {
        height: 200px;
    }
    #cm-contact .contact-me p {
        font-size: 38px;
        margin: 7px;
    }
    #cm-contact .contact-me .button-two  {
        padding: 10px 20px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    footer.footer {
        padding: 25px 0;
    }
    .footer div.container {
        padding-left: 0px;
    }
    .footer .footer-col {
        padding: 0px 15px 0px 8px;
    }
    .footer .footer-col h4{
        font-size: 20px;
        margin-bottom: 20px;
        width: 195px;
    }
    .footer-col h4::after {
        top: 20px;
    }
    .footer .footer-col ul li a {
        font-size: 20px;
    }
    .footer .footer-col .social-links a {
        height: 45px;
        width: 45px;
        margin: 0px 0px 5px 0;
        font-size: 20px;
    }
    .footer .footer-col .social-links i {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
    #mainSlider .slide-content .carousel-caption h2 {
        margin-right: 0px;
    }
    #mainSlider .carousel-caption {
        left: -400px;
    }
    .slide-content .text-div {
        margin-left: 530px;
    }
    .slide-content-2 .text-div {
        width: 450px;
        margin-left: 725px;
    }
    #mainSlider .slide-content-2 .carousel-caption h2 {
        margin-left: 165px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1598px) {
    #mainSlider .slide-content .carousel-caption h2 {
        margin-right: 100px;
    }
    #mainSlider .carousel-caption {
        left: -350px;
    }
    .slide-content .text-div {
        margin-left: 500px;
    }
    .slide-content-2 .text-div {
        width: 450px;
        margin-left: 755px;
    }
    #mainSlider .slide-content-2 .carousel-caption h2 {
        margin-left: 170px;
    }
}

@media screen and (min-width: 1599px) and (max-width: 1919px) {
    #mainSlider .slide-content .carousel-caption h2 {
        margin-right: 280px;
    }
    #mainSlider .carousel-caption {
        left: -350px;
    }
    .slide-content .text-div {
        margin-left: 500px;
    }
    .slide-content-2 .text-div {
        width: 450px;
        margin-left: 760px;
    }
    #mainSlider .slide-content-2 .carousel-caption h2 {
        margin-left: 0px;
    }
    #mainSlider .slide-content .carousel-caption .btn-km {
        margin-right: 600px;
    }
}
@media screen and (min-width: 2560px) and (max-width: 3439px){
    #mainSlider .slide-content .carousel-caption h2 {
        margin-right: 1000px;
    }
    #mainSlider .carousel-caption {
        left: -250px;
    }
    .slide-content .text-div {
        margin-left: 500px;
    }
    .slide-content-2 .text-div {
        width: 450px;
        margin-left: 900px;
    }
    #mainSlider .slide-content-2 .carousel-caption h2 {
        margin-left: 0px;
        margin-right: 550px;
    }
    #mainSlider .slide-content .carousel-caption .btn-km {
        margin-right: 1300px;
    }
}

@media screen and (min-width: 3440px) and (max-width: 3839px){
    #mainSlider .slide-content .carousel-caption h2 {
        margin-right: 1150px;
        font-size: 100px;
    }
    #mainSlider .carousel-caption {
        left: -250px;
    }
    .slide-content .text-div {
        margin-left: 600px;
        width: 900px;
    }
    #mainSlider .carousel-caption p {
        font-size: 32px;
    }
    .slide-content-2 .text-div {
        width: 900px;
        margin-left: 1000px;
    }
    #mainSlider .slide-content-2 .carousel-caption h2 {
        margin-left: 0px;
        margin-right: 700px;
        font-size: 100px;
    }
    #mainSlider .slide-content .carousel-caption .btn-km, #mainSlider .slide-content-2 .carousel-caption .btn-km {
        margin-right: 1200px;
        padding: 20px 150px;
    }
}

@media screen and (min-width: 3840px) {
    #mainSlider .slide-content .carousel-caption h2 {
        margin-right: 1440px;
        font-size: 100px;
    }
    #mainSlider .carousel-caption {
        left: -250px;
    }
    .slide-content .text-div {
        margin-left: 600px;
        width: 900px;
    }
    #mainSlider .carousel-caption p {
        font-size: 32px;
    }
    .slide-content-2 .text-div {
        width: 900px;
        margin-left: 1000px;
    }
    #mainSlider .slide-content-2 .carousel-caption h2 {
        margin-left: 0px;
        margin-right: 980px;
        font-size: 100px;
    }
    #mainSlider .slide-content .carousel-caption .btn-km, #mainSlider .slide-content-2 .carousel-caption .btn-km {
        margin-right: 1200px;
        padding: 20px 150px;
    }
}